
/*====================================
 Free To Use For Personal And Commercial Usage
Author: http://binarytheme.com
 Share Us if You Like our work 
 Enjoy Our Codes For Free always.
======================================*/

/* user image section */
.user-section {
    margin-top:20px;
    font-size:22px;
    background-color:rgb(83, 163, 163);
}
.user-section-inner {
    height: 65px;
width: 65px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
display: inline-block;
float: left;
margin-right: 15px;
margin-top: 20px;
}
    .user-section-inner img {
        margin-left:10px;
        width:55px;
        height:60px;
        
    }
.user-info {
    display: block;
    color:#000!important;
display: inline-block;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* side-menu section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #75C5B8;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}
#side-menu {
    background-color:#04B173;
}

 #side-menu a {
            color:#fff;
           border-bottom: 1px solid #84B899 !important;
           height: 55px;
        }
        .selected {
            background-color:rgb(83, 163, 163);
        }
/* back colors */
        .blue {
            background-color:rgb(113, 159, 241);
        }
         .green {
            background-color:rgb(144, 236, 192);
        }
          .red {
            background-color:rgb(255, 102, 133);
        }
        .yellow {
            background-color:rgb(237, 253, 46);
        }

  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
/* tap nvbar Section */

#navbar {
    background-color:rgb(83, 163, 163);
    height: 71px;
}

.navbar-brand {
    padding-left:20px;
}
.navbar-brand img {
    height:40px;
}
.top-label {
    position: absolute;
top: 50%;
right: 50%;
margin-top: -24px;
margin-right: -24px;
}

/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#84B899;
}

.margin-tips {
    margin:5px;
}
.navbar-default {
border-color: #27A6BE;
}
/*media queries*/

@media(min-width:768px) 
{
    #page-wrapper {
        position: inherit;
        /*margin: 0 0 0 250px;*/
        padding: 0 30px;
        /* min-height: 1000px; */
       
       
    }

}

@media(max-width:992px) {
#wrapper {
    margin-top:140px!important;
    
}
}

/* Button Styling */
.btn-answer {
    padding: 7px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
}

.btn-answer:hover {
    opacity: 0.8;
}

.btn-answer-yes {
    background-color: #2e7be7; /* green */
    color: white;
}

.btn-answer-no {
    background-color: #f44336; /* red */
    color: white;
}

.btn-answer-selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style for a button after it has been selected */
.btn-answer-selected {
    transform: scale(1.35);  /* Slightly enlarge the button */
}

.btn-submit {
    display: block;
    margin-top: 20px;
    background-color: #200f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #373738;
}

.btn-submit:focus {
    outline: none;
}

#notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.notification-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
/* Custom styles for the tutorial */
.tutorial-container {
    padding: 20px;
    text-align: center;
}
.pdf-container {
    max-width: 800px;
    height: 10000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
iframe {
    width: 100%;
    height: 700px;
}
.accept-button-container {
    text-align: center;
    margin-top: 20px;
}
#accept-button {
    font-size: 16px;
    padding: 10px 20px;
}

#finish-button {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Center the button horizontally */
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #finish-button {
        margin-left: 0; /* Remove the left margin on smaller screens */
        width: 100%; /* Make the button span the entire width of the screen */
        font-size: 24px; /* Reduce font size for smaller screens if needed */
    }
}
.conversation-message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    background-color: #0D082C;
    align-self: flex-start;
    margin-right: 16px;
    color: #FFFFFF;
}

.command-response {
    background-color: #F1F7FF;
    align-self: flex-end;
    text-align: right;
    margin-bottom: 16px;
    color: #0D082C;
}

#conversation-area {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: auto !important;
}

#conversation-area-wrapper{
    padding-top: 16px;
    padding-bottom: 10px;
    height: 58vh;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-top: 10px;
}
#conversation-area {
    position: relative; /* Set position to relative for the parent */
}

#video-selection-container {
    position: absolute;
    bottom: 0; /* Adjust these properties as necessary */
    left: 0;
    width: 100%; /* Adjust width to fit inside the conversation box */
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.video-loader{
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-left: 12px;
}

.video-processing-indicator{
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#updatingGraphModal > div {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: fadeInModal 0.5s;
}

@keyframes fadeInModal {
    from { opacity: 0; }
    to { opacity: 1; }
}

.OuterDivOfImages{
    display: inline-flex;
}

.chat-message-button-div{
    margin: auto;
    display: flex;
    justify-content: right;
    margin-right: 15px;
}