
/*body { font-family:'verdana'; }*/

h1 { 
	font-size:16px;
	color:#333;
}

#media-player {
	background-color: #00000008;
	padding-top: 16px;
	padding-bottom: 10px;
	border-radius: 4px;
	display: flex; 
	align-items: center; 
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-end;
}

#media-controls{
	width:100%;
	/* height:30%; */
}

.progress{
    /*height: 10px;*/
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    /*margin-bottom: 30px;*/
    overflow: visible;
}

.progress-bar {
	-webkit-transition: width .1s ease;
	transition: width .01s ease;
}

.progress .progress-bar{
    box-shadow: none;
    position: relative;
    /*-webkit-animation: animate-positive 2s;*/
    /*animation: animate-positive 2s;*/
	border-radius: 4px;
}
.progress .progress-bar:after{
    content: "";
    display: block;
    /*height:8px;*/
    /*width:8px;*/
	height: 10px;
	width: 10px;
	border-radius: 50%;
    background-color: #00474d;
    /*border: 12px solid transparent;*/
    /*border-bottom: 20px solid transparent;*/
    position: absolute;
    /*top: -0px;*/
	top: -1px;
    right: -0px;
    /*border-bottom-color: #872c02;*/
}

/*.progress .progress-bar:hover::after{*/

	/*height: 15px;*/
	/*width: 15px;*/
	/*background-color: red;*/
	/*top: -3px;*/
/*}*/

.progress-bar-success {
	/*background-color: #10a47b;*/
	background-color: #36c9aef5;
}

video {
	/*border:1px solid #2e52a4;*/
	/*width:100%;*/
	height:50%;
	background:#000;
	/*margin-left:20%;*/
}


.media-player-btn {
	/*text-indent:-9999px;*/
	width:25%;
	height:20%;
	border:none;
	cursor:pointer;
	margin-top: 0;
	/*background-image: url('play.png'); */
	/*background:transparent url('buttons.png') no-repeat 0 0;*/
	background:transparent;
	font-size: 20px;
}

.media-player-btn:focus {outline:0;}
/*.btn {*/
    /*background-color: DodgerBlue;*/
    /*!*border: none;*!*/
    /*color: white;*/
    /*!*padding: 12px 16px;*!*/
    /*!*font-size: 16px;*!*/
    /*cursor: pointer;*/
    /*width:16px;*/
	/*height:16px;*/
	/*border:none;*/
	/*!*cursor:pointer;*!*/
	/*margin-top: 1px;*/
/*}*/



/*.pause { background-position:-19px 0;}
.stop { background-position:-38px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }
.vl {
    border-left: 6px solid orange;
    height: 15px;
}
*/
#allButton{
margin-top: 9%;
height:20px;
}

#position{
	height:20px;
}

#play-pause-button{
margin-top: 0px;

}
#stop-button{
margin-top: 0px;
}
#replay-button{
margin-top: 0px;
}

#box
{
	width:100%;
	height:16px;
	border:none;
	margin-right:5px;
    position: relative;
}
#progress-bar{
	color:#fff;
	font-size:12px;
	width:100%;
	/*height:8px;*/
	border:none;
	height: 8px;
	border-radius: 16px;
	/*margin-right:5px;*/
	/*margin-top:2%;*/
	background:#777777b8;
	margin-top: 22px;
	cursor:pointer;
	/*position: relative;*/
	/*float:left;*/
}
/*progress::-moz-progress-bar { background:#2e52a4; }*/
#showTime{

  width:27px;
  height:40px;
  font-size: 20px;
  color: #0b6d93;
  margin-top: 10%;
  /*margin-left: 2%;*/
  margin-right: 10%;
  /*float:right;*/
}

#segment{
	width:100%;
	height:10px;
	margin-top: 2px;
}

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('item.png') no-repeat 0 4px;
}



canvas {
    margin-top: auto;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

#overlay {
    position: absolute;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    float:left;
}
